{% extends "project_base.html" %}
{% load static %}
{% block title %}{{app_name}}{% endblock title %}
{% block ref %}
<link rel="stylesheet" type="text/css" href="{% static '{{app_name}}/css/{{app_name}}.css' %}">
<script type="application/javascript" src="{% static '{{app_name}}/js/{{app_name}}.js' %}"></script>

{% endblock ref %}

{% block body %}
<div class="project-div fade-in-right">
    <div id="content-div">
        {% include '{{app_name}}/app.html' %}
    </div>
</div>

{% endblock body %}

{% block project_about %}
{% include '{{app_name}}/details.html' %}
{% endblock project_about %}
