{% extends "_base.html" %}
{% load static %}
{% block title %}Kan Kawabata - portfolio{% endblock title %}
{% block ref %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
<script src="{% static 'js/post_fetch.js' %}"></script>
{% endblock ref %}


{% block content %}
<div class="accordion" id="tableOfContent">
  <div class="accordion-item">
    <h2 class="accordion-header" id="rootTitle">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#rootContent" aria-expanded="false" aria-controls="rootContent">  Hello, I'm Kan Kawabata...
      </button></h2>
    <div id="rootContent" class="accordion-collapse collapse" aria-labelledby="rootTitle" data-bs-parent="#tableOfContent">
      <div class="accordion nested-accordion">
        {% include 'main/about.html' with section='about' section_title='I am a...' %}
        {% include 'main/projects.html' with section='projects' section_title='here are some of my projects...' %}
        {% include 'main/blogs.html' with section='blogs' section_title='here are some collection of thoughts...' %}
        {% include 'main/socials.html' with section='socials' section_title='here are some of my socials...' %}
        {% include 'main/cv.html' with section='cv' section_title='here is my cv' %}
      </div>
    </div>
  </div>
</div>

<div id="contentDiv"></div>

<button onclick="topFunction()" id="jumpToTopBtn" title="Go to top">Top</button>
<script src="{% static 'js/jump_to_top_button.js' %}"></script>
<script>
    function get_post(post_slug){
        $.ajax({
            url: "post_request",
            data: {"post_slug": post_slug},
            dataType: "JSON",
            success: function(response){
                $("#contentDiv").html(response);
                $("#contentDiv")[0].scrollIntoView();
            }
        });
    }
</script>
{% endblock content %}
