{% load static %}
<div id="content-app" class="content-div project">
    <div>
        <h3>Instruction</h3>
        <p>Click record whistle, whistle, click stop when you are done. The app will then generate the midi file.</p>
    </div>
    <form id="whistleForm">
        {% csrf_token %}
        <input type='hidden' name='csrf_token' id='csrf_token' value='{{csrf_token}}'>
        <div class="button-controls">
            <button id="startBtn" class='app-button' type="button" onclick="startAudioRecording()">Record Whistle</button>
            <button id="stopBtn" class='app-button' type="button" onclick="stopAudioRecording()" style="display: none;">
                 <i id="recordingIcon" class="fa fa-circle text-danger Blink" style="display: none;"></i>  Stop
            </button>
            <button id="cancelBtn" class='app-button' type="button" onclick="cancelAudioRecording()" style="display: none;">Cancel</button>
        </div>
    </form>
    <div id="playbackDiv" hidden>

    </div>
    <div id="midi-div" hidden>
        <h3>Raw Recording</h3>
        <audio id="audioControl" controls>
             <source id="audioSrc" src="" type="audio/*" />
             <midi-player sound-font></midi-player>
        </audio>
        <h3 style="margin-top: 2em;">Midified Whistle</h3>
        <midi-visualizer id="midiViz" type="staff"></midi-visualizer>
        <midi-player id="midiPlayer" sound-font visualizer="#midi-div midi-visualizer"></midi-player>
        <p>Note: For best performance make sure your whistling is clear and loud and stable.</p>
    </div>
</div>

