{% extends "_base.html" %}
{% load static %}
{% block title %}Kan Kawabata{% endblock title %}
{% block ref %}

<link rel="stylesheet" type="text/css" href="{% static 'whistle_detector/css/app_whistle_detector_style.css' %}">
<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
{% endblock ref %}

{% block body %}
<div class="project-div">
    <h1 class="fade-in-right">Whistle detector</h1>
    <div id="header-div1" class='fade-in-right header-div project-header-div'>
        <h3 id='header-details' hx-get="{% url 'whistle-detector-about' %}" hx-swap="outerHTML" hx-target="#project-content-div" hx-on:click="headerSelected(event, '#header-div1');">About</h3>
        <h3 id='header-app' hx-get="{% url 'whistle-detector-app' %}" hx-swap="outerHTML" hx-target="#project-content-div" hx-on:click="headerSelected(event, '#header-div1');">App</h3>
        {% include "go_back_element.html" %}
    </div>

    <div id="project-content-div"></div>
</div>
<script>
//    document.addEventListener("DOMContentLoaded", function(){
//        setTimeout(function(){ $('#header-details').click() }, 1000);
//    });
</script>
{% endblock body %}