{% extends "project_base.html" %}
{% load static %}
{% block title %}Whistle Detector{% endblock title %}
{% block ref %}

<link rel="stylesheet" type="text/css" href="{% static 'whistle_detector/css/app_whistle_detector_style.css' %}">
<!-- Note: Tone.js and other audio libraries need to be downloaded separately -->
<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
{% endblock ref %}

{% block body %}
<div class="project-div fade-in-right">
    <div id="content-div">
        {% include 'whistle_detector/app.html' %}
    </div>
</div>

<script src="{% static 'js/recorder.js' %}"></script>
<script src="{% static 'whistle_detector/js/whistle_detector.js' %}"></script>
{% endblock body %}

{% block project_about %}
{% include 'whistle_detector/details.html' %}
{% endblock project_about %}
