{% extends "_base.html" %}
{% load static %}
{% block title %}Kan Kawabata - Morse Code Speed tap test{% endblock title %}
{% block ref %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/app_morse_code.css' %}">

{% endblock ref %}

{% block content %}

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Detail')" id="defaultOpen">Info</button>
    <button class="tablinks" onclick="openTab(event, 'Speedtap')">Speed tap morse code</button>
    <button class="tablinks" onclick="openTab(event, 'Practice')">Practice morse code</button>
</div>

<div id="Detail" class="tabcontent">
    {% include 'post.html' with post=post %}
</div>

{% include 'practice_div.html' %}
{% include 'speedtap_div.html' %}

<script src="{% static 'js/timer.js' %}"></script>
<script src="{% static 'js/morse_decoder.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/tab_logic.css' %}">
<script src="{% static 'js/tab_logic.js' %}"></script>
{% endblock content %}