<div id="Practice" class="tabcontent">
    <div class="wrapper">
        <div>
            <h3>Practice morse code</h3>
            <h4>Instruction</h4>
            <p>Click the button below then click/tap (or use spacebar) to send morse code. short tap for dots and hold for dashes, short pause for next character and long pause for space.</p>
            {% include 'mnemonic_table.html' %}
        </div>
        <br>
        <br>
        <div id="Practice-start-control" class="button-controls">
            <button class='app-button' type="button" onclick="PracticeStartMorseRecording()">Practice Morse Code</button>
        </div>
        <div id="Practice-stop-control" style="display: none;">
            <div class="display-div">
                <h4>morse</h4>
                <textarea id="PMorse" readonly></textarea>
                <h4>text</h4>
                <textarea id="PText" readonly></textarea>
            </div>
            <br>
            <div class="stop-control button-controls">
                <i class="fa fa-circle text-danger Blink"></i>
                <button id="PTapBtn" class='app-button' type="button">Tap Here (or use spacebar)</button>
                <button class='app-button' type="button" onclick="PracticeStopMorseRecording()">Stop Morse Code</button>
            </div>
        </div>
    </div>
</div>
