<div id="Speedtap" class="tabcontent">
    <div class="wrapper">
        <div>
            <h3>Morse Code Speed Test</h3>
            <p> try and tap the prompt as fast as you can, if you make a mistake that's ok just tap the correct character to proceed. </p>
            {% include 'mnemonic_table.html' %}
        </div>
        <br>
        <div id="Speedtap-start-control" class="button-controls">
            <button class='app-button' type="button" onclick="SpeedTestStartMorseRecording()">Start Morse Code</button>
        </div>
        <div id="Speedtap-stop-control"  style="display: none;">
            <div class="display-div">
                <h3>Time</h3>
                <p><span id="seconds">00</span>:<span id="tens">00</span></p>
                <h3>Prompt</h3>
                <p><span id="prompt"></span></p>
                <h4>morse</h4>
                <textarea id="STMorse" readonly></textarea>
                <h4>text</h4>
                <textarea id="STText" readonly></textarea>
            </div>
            <br>
            <div class="stop-control button-controls">
                <i class="fa fa-circle text-danger Blink"></i>
                <button id="STTapBtn" class='app-button' type="button">Tap Here (or use spacebar)</button>
                <button class='app-button' type="button" onclick="SpeedTestStopMorseRecording()">Stop Morse Code</button>
            </div>
        </div>
    </div>
</div>