{% extends "project_base.html" %}
{% load static %}
{% block title %}Speech Transcriber{% endblock title %}

{% block ref %}
<script src="{% static 'vendor/wavesurfer-7.min.js' %}"></script>
<script src="{% static 'vendor/wavesurfer-regions-7.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'speech_transcriber/css/speech_transcriber.css' %}">
<script type="application/javascript" src="{% static 'speech_transcriber/js/speech_transcriber.js' %}"></script>
<script type="application/javascript" src="{% static 'js/recorder.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}">
<script type="application/javascript" src="{% static 'js/dropzone.js' %}"></script>
{% endblock ref %}

{% block body %}
<input id="csrf_token" type="hidden" value="{{ csrf_token }}">
<div class="project-div fade-in-right">
    <div id="content-div">
        {% include 'speech_transcriber/app.html' %}
    </div>
</div>
{% endblock body %}

{% block project_about %}
{% include 'speech_transcriber/details.html' %}
{% endblock project_about %}
