{% load static %}

<div id="content-details" class="content-div project">
I recently went Karaoke with my friends and was inspired to create my own mini karaoke app. The first thought I had was how can I remove the lead vocal from a song.
    After doing a bit of research I've found that a crude way to achieve this is by taking a stereo mixed audio invert one channel and the vocal will phase cancel.
    The theory behind this is that usually a song will have the vocal front and center in the acoustic space thus the left and right channel will have ~equivalent signal,

Also while doing a research I've found a pretty cool web app called <a href="https://vocalremover.org/">Vocal Remover</a> that does what I wanted using AI + a lot more feature.
    I would highly recommend using that app if you want to achieve what my toy app tries to do.
</div>


