{% extends "project_base.html" %}
{% load static %}
{% block title %}Voice Stripper{% endblock title %}
{% block ref %}
<link rel="stylesheet" type="text/css" href="{% static 'voice_stripper/css/voice_stripper.css' %}">

{% endblock ref %}

{% block body %}
<div class="project-div fade-in-right">
    <div id="content-div">
        {% include 'voice_stripper/app.html' %}
    </div>
</div>

<script type="application/javascript" src="{% static 'voice_stripper/js/voice_stripper.js' %}"></script>
{% endblock body %}

{% block project_about %}
{% include 'voice_stripper/details.html' %}
{% endblock project_about %}
