{% load static %}
<div id="project-content-div" class="fade-in">
    <div class="center-flex">
        <h3>Choose what to detect</h3>

        <div id="header-div2" style="margin: 1em; justify-content: space-between;" class='header-div project-header-div'>
            <h5 id="face" hx-on:click="change_detector_type(event);">Face </h5>
            <h5 id="qr_code" hx-on:click="change_detector_type(event);">QR Code </h5>
            <h5 id="raw_feed" hx-on:click="change_detector_type(event);">Raw Feed </h5>
        </div>

        <div id='button-control' class='center-flex' style="display: none;">
            <button id="startBtn" class="app-button" onclick="startRecording()">Start Detecting</button>
            <button id="stopBtn" class="app-button" style="display: none;" onclick="stopRecording()">
                <i id="recordingIcon" class="fa fa-circle text-danger Blink" style="display: none;"></i> Stop Recording
            </button>

            <div id='vidsContainer' style="display: none;">
                <h3>Feed</h3>
                <video id="outputFeedVid" muted></video>
                <p>Note: this app isn't meant to be accurate it's a rough estimation and are dependent on camera focal lengths.</p>
                <p>Additionally this app uses webrtc connection and you might not be able to get it working as it does not use a dedicated TURN servers to learn more about webRTC please see this <a href="https://bloggeek.me/webrtc-turn/">article</a>.</p>
            </div>
        </div>
    </div>

    <script src="{% static 'webcam_ruler/js/webrtc_client.js' %}"></script>
    <script src="{% static 'webcam_ruler/js/webcam_ruler.js' %}"></script>
</div>


