{% extends "project_base.html" %}
{% load static %}
{% block title %}Webcam Ruler{% endblock title %}
{% block ref %}
<link rel="stylesheet" type="text/css" href="{% static 'webcam_ruler/css/webcam_ruler.css' %}">

{% endblock ref %}

{% block body %}
<div class="project-div fade-in-right">
    <h1>Webcam Ruler 📏</h1>
    <div id="header-div1" class='header-div project-header-div'>
        <h3 id='header-details' class='header' onclick="select_nav('details', '#header-div1');">Details</h3>
        <h3 id='header-app' class='header' onclick="select_nav('app', '#header-div1');">App</h3>
    </div>

    <div id="content-div" style="display:none;">
        {% include "webcam_ruler/details.html" %}
        {% include "webcam_ruler/app.html" %}
    </div>
</div>

<script src="{% static 'webcam_ruler/js/webrtc_client.js' %}"></script>
<script src="{% static 'webcam_ruler/js/webcam_ruler.js' %}"></script>
{% endblock body %}