{% extends "project_base.html" %}
{% load static %}
{% block title %}Webcam Ruler{% endblock title %}
{% block ref %}
<link rel="stylesheet" type="text/css" href="{% static 'webcam_ruler/css/webcam_ruler.css' %}">
{% endblock ref %}

{% block body %}
<div class="project-div fade-in-right">
    <div id="content-div">
        {% include "webcam_ruler/app.html" %}
    </div>
</div>

<script>
    var OPENCV_JS_URL = "{% static 'vendor/opencv-4.9.0.js' %}";
    var CASCADE_URL = "{% static 'webcam_ruler/model/lbpcascade_frontalface_improved.xml' %}";
</script>
<script src="{% static 'webcam_ruler/js/webcam_ruler.js' %}"></script>
{% endblock body %}

{% block project_about %}
{% include "webcam_ruler/details.html" %}
{% endblock project_about %}
