{% extends "_base.html" %}
{% load static %}
{% block ref %}
<link rel="stylesheet" type="text/css" href="{% static 'magic_eye_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tab_logic.css' %}">
{% endblock ref %}

{% block content %}

<a href="{% url 'main' %}">Back to main</a>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Generate')" id="defaultOpen">Generate</button>
  <button class="tablinks" onclick="openTab(event, 'Decode')">Decode</button>
</div>

<div id="Generate" class="tabcontent">
    <div class="wrapper">
        <h3>Magic Eye Generator</h3>
        <form id="genForm" action="magic_eye_generate">
            {% csrf_token %}
            <div id="textureDropzone" class="drop-zone">
            <span class="drop-zone__prompt">Drop texture image here or click to upload</span>
            <input type="file" id="textureFile" name="textureFile" class="drop-zone__input" accept="image/*">
            </div>
            <p><b>+</b></p>
            <div id='depthmapDropzone' class="drop-zone">
            <span class="drop-zone__prompt">Drop depth map image here or click to upload</span>
            <input type="file" id="depthMapFile" name="depthMapFile" class="drop-zone__input" accept="image/*">
            </div>
            <input class='magic-eye-submit-button' type="submit" value="Generate Magic Eye">
        </form>
        <div id="generated_image"></div>
    </div>
    <p>Drag Texture and Depth maps below to the corresponding areas above to test it out!</p>
    <p>sample texture files (should be small square image that can be used to tile the magic eye image)</p>
    <div style="display: flex; gap: 10%;">
        <img class='sample-img' src="{% static 'images/flower.png' %}">
    </div>
    <p>sample depth map files (a black and white image that determines what the magic eye should hide)</p>
    <div style="display: flex; gap: 10%;">
        <img class='sample-img' src="{% static 'images/squirrel.png' %}">
    </div>
</div>

<div id="Decode" class="tabcontent">
    <div class="wrapper">
        <h3>Magic Eye Decoder</h3>
        <form id="decodeForm" action="magic_eye_decode">
            {% csrf_token %}
            <div id="decodableDropzone" class="drop-zone">
            <span class="drop-zone__prompt">Drop Magic eye image here or click to upload</span>
            <input type="file" id="decodableFile" name="decodableFile" class="drop-zone__input" accept="image/*">
            </div>
            <input class='magic-eye-submit-button' type="submit" value="Decode Magic Eye">
        </form>
        <div id="decoded_image"></div>
    </div>

    <p>Drag a magic eye image to test it out!</p>
    <p>sample magic eye (open in a new tab to view in full)</p>
    <div style="display: flex; gap: 10%;">
        <img class='sample-img' src="{% static 'images/squirrel_magic_eye.png' %}">
    </div>

</div>

<script src="{% static 'js/dragzone.js' %}"></script>
<script src="{% static 'js/tab_logic.js' %}"></script>
<script>
$('#genForm').on( "submit", function( event ) {
    event.preventDefault();
    var $form = $( this ),
    url = $form.attr( "action" );
    texture_image = $form.find( "input[name='textureFile']" )[0].files[0]
    depth_image = $form.find( "input[name='depthMapFile']" )[0].files[0]

    var formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    formData.append('texture', texture_image);
    formData.append('depth_map', depth_image);

    $.ajax({
        url: 'magic_eye_generate',
        type: 'POST',
        dataType: "json",
        data: formData,
        enctype: 'multipart/form-data',
        cache: false,
        processData: false,
        contentType: false,
        success: function(response){
            console.log('succeeded')
            $('#generated_image').empty().append('<img src="'+response['image_url']+'" />')
        },
        error: function (request, status, error) {
            console.log('failed')
        }
    });
});

$('#decodeForm').on( "submit", function( event ) {
    event.preventDefault();
    var $form = $( this ),
    url = $form.attr( "action" );
    input_image = $form.find( "input[name='decodableFile']" )[0].files[0]

    var formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    formData.append('input_image', input_image);

    $.ajax({
        url: 'magic_eye_decode',
        type: 'POST',
        dataType: "json",
        data: formData,
        enctype: 'multipart/form-data',
        cache: false,
        processData: false,
        contentType: false,
        success: function(response){
            console.log('succeeded')
            $('#decoded_image').empty().append('<img src="'+response['image_url']+'" />')
        },
        error: function (request, status, error) {
            console.log('failed')
        }
    });
});
</script>


{% endblock content %}


