#content-div {
    width: 100%;
}

#content-app {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#startBtn, #stopBtn {
    width: min-content;
    margin: auto;
    margin-bottom: 2em;
}