#content-div {
    width: 100%;
}

#content-app {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#startBtn, #stopBtn {
    width: min-content;
    margin: auto;
    margin-bottom: 2em;
}

#control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-zone {
    margin: 1em;
}