.fade-in {
    animation: .5s normal both 1 fadein-keys;
}

@keyframes fadein-keys{
    0% { opacity:0;
    transform: translate3d(0, -20%, 0);
    }
    100% { opacity:1;
    transform: translate3d(0, 0, 0);
    }
}

.fade-in-right {
    animation: .5s normal both 1 fadein-right-keys;
}

@keyframes fadein-right-keys{
    0% { opacity:0;
    transform: translate3d(20%, 0, 0);
    }
    100% { opacity:1;
    transform: translate3d(0, 0, 0);
    }
}

.Blink {
    padding-top: 0.35em;
    padding-right: 0.5em;
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}

.poke:hover span {
    animation: 1.5s normal both infinite poke-frames;
    display: inline-block;
}

@keyframes poke-frames {
    from { transform: translate3d(0, 0, 0); }
    25% { transform: translate3d(20%, 0, 0); }
    50% { transform: translate3d(0, 0, 0); }
    75% { transform: translate3d(20%, 0, 0); }
    to { transform: translate3d(0, 0, 0); }
}