.fade-in {
    animation: .5s normal both 1 fadein-keys;
}

@keyframes fadein-keys{
    0% { opacity:0;
    transform: translate3d(0, -20%, 0);
    }
    100% { opacity:1;
    transform: translate3d(0, 0, 0);
    }
}

.fade-in-right {
    animation: .5s normal both 1 fadein-right-keys;
}

@keyframes fadein-right-keys{
    0% { opacity:0;
    transform: translate3d(20%, 0, 0);
    }
    100% { opacity:1;
    transform: translate3d(0, 0, 0);
    }
}

.Blink {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}