#gen-img-div {
    display: flex;
    gap: 5%;
}

.sample-img{
   width: 10rem;
   height: 10rem;
}

.inner-helper-div {
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: flex-end;
    align-items: center;
}

#decodeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}