{% extends "_base.html" %}
{% load static %}
{% block ref %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/app_whistle_detector_style.css' %}">
<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
{% endblock ref %}

{% block content %}

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Detail')" id="defaultOpen">Info</button>
    <button class="tablinks" onclick="openTab(event, 'Whistle')">Whistle</button>
</div>

<div id="Detail" class="tabcontent">
    {% include 'post.html' with post=post %}
</div>

<div id="Whistle" class="tabcontent">
    <div class="wrapper">
        <div>
            <h3>Whistle detector</h3>
            <h4>Instruction</h4>
            <p>Click record whistle, whistle, click stop when you are done. The app will then generate the midi file.</p>
        </div>
        <form id="whistleForm">
            {% csrf_token %}
            <input type='hidden' name='csrf_token' id='csrf_token' value='{{csrf_token}}'>
            <div id="button-controls">
                <button id="startBtn" class='whistle-button' type="button" onclick="startAudioRecording()">Record Whistle</button>
                <i id="recordingIcon" class="fa fa-circle text-danger Blink" style="display: none;"></i>
                <button id="stopBtn" class='whistle-button' type="button" onclick="stopAudioRecording()" style="display: none;">Stop</button>
                <button id="cancelBtn" class='whistle-button' type="button" onclick="cancelAudioRecording()" style="display: none;">Cancel</button>
            </div>
        </form>
        <div id="playbackDiv" hidden>

        </div>
        <div id="midiDiv" hidden>
            <h4>Original Audio</h4>
            <audio id="audioControl" controls>
                 <source id="audioSrc" src="" type="audio/*" />
                 <midi-player sound-font></midi-player>
            </audio>
            <h2>Midified Whistle</h2>
            <midi-visualizer id="midiViz1" type="piano-roll"></midi-visualizer>
            <midi-visualizer id="midiViz2" type="staff"></midi-visualizer>
            <midi-player id="midiPlayer" sound-font visualizer="#midiDiv midi-visualizer"></midi-player>
        </div>
    </div>
</div>

<script src="{% static 'js/whistle_detector.js' %}"></script>
<script src="{% static 'js/recorder.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/tab_logic.css' %}">
<script src="{% static 'js/tab_logic.js' %}"></script>
{% endblock content %}