{% load static %}
<div id="content-app" class="content-div project">

    <div style="margin: 2em;">
        <div style="display:none;">
            <h4 style="color: orange;">input devices</h4>
            <select onchange="set_output_device(this.value);" id="inputDevice" disabled><option value="">Default</option></select>
        </div>
        <div>
            <h4 style="color: orange; width: fit-content; margin: 1em auto;">output devices</h4>
            <select onchange="set_output_device(this.value);" id="outputDevice" disabled><option value="">Default</option></select>
        </div>
    </div>

    <div id="soundboard">
        {% for s in sound_effects %}
            <div onclick="toggle_sound($(this));" class="sound-btn">
                <audio controls src="{% url 'sound-effect' s %}" type="audio/wav" style="display: none;"></audio>
                <h3>{{s}}</h3>
            </div>
        {% endfor %}
        <div id='recorder-div' style='border: 0.4em solid orange;' onclick="record_sound_effect();" class="sound-btn">
            <h3 id="recorder-label">record your own!</h3>
        </div>
        <div id="soundeffect-dropzone" class="drop-zone">
            <span class="drop-zone__prompt"><h3>upload your own sound!</h3></span>
            <input type="file" id="custom-soundeffect" name="custom-soundeffect" class="drop-zone__input" accept="audio/*">
        </div>
    </div>
<script>
var custom_effect_count = 0;

function on_audio_drop(event){
    if(event.dataTransfer.files[0]){
        file = event.dataTransfer.files[0];
        add_blob_as_sound_effect(file)
    }
}

soundeffect_dz = document.getElementById('soundeffect-dropzone')
init_dropzones(soundeffect_dz, false, on_audio_drop);

function record_sound_effect() {
    if (audioRecorder.status == 'paused'){
        $('#recorder-label').text('recording in progress..');
        audioRecorder.start()
            .then(() => { console.log("recorder started"); })
            .catch(e => { console.log(error.message) });
    } else {
        $('#recorder-label').text('record your own!')
        audioRecorder.stop().then(audioBlob => {
            add_blob_as_sound_effect(audioBlob);
        });
    }
}

function add_blob_as_sound_effect(audioBlob) {
    custom_effect_count += 1;
    reader = new FileReader();
    reader.onload = (e) => {
        base64URL = e.target.result;
        newAudio = document.createElement("audio");
        newAudio.src = base64URL;
        newAudio.load();

        newLabel = document.createElement("h3");
        newLabel.textContent = "Custom Effect #" + custom_effect_count;

        newDiv = document.createElement("div");
        newDiv.id = "custom-effect" + custom_effect_count;
        newDiv.class="sound-btn";
        newDiv.addEventListener("click", ()=>{toggle_sound($("#" + newDiv.id));})
        newDiv.appendChild(newAudio);
        newDiv.appendChild(newLabel);

        soundboardDiv = document.getElementById("soundboard");
        recorderDiv = document.getElementById("recorder-div");
        soundboardDiv.insertBefore(newDiv, recorderDiv);
    }
    reader.readAsDataURL(audioBlob);
}


function toggle_sound(sound_button){
    audio_elem = sound_button.children('audio')[0]
    if (audio_elem.paused ) {
        sound_button.addClass('se-active')
        audio_elem.currentTime = 0;
        audio_elem.play();
        audio_elem.onended = function(){sound_button.removeClass('se-active');};

    } else {
        sound_button.removeClass('se-active')
        audio_elem.pause();
    };
}
</script>
</div>