{% extends "project_base.html" %}
{% load static %}
{% block title %}Web Soundboard{% endblock title %}
{% block ref %}
<link rel="stylesheet" type="text/css" href="{% static 'web_soundboard/css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}">
<script type="application/javascript" src="{% static 'js/dropzone.js' %}"></script>
{% endblock ref %}

{% block body %}
<div class="project-div fade-in-right">
    <div id="content-div">
        {% include 'web_soundboard/app.html' %}
    </div>
</div>
<script src="{% static 'js/recorder.js' %}"></script>
<script src="{% static 'web_soundboard/js/web_soundboard.js' %}"></script>
{% endblock body %}

{% block project_about %}
{% include 'web_soundboard/details.html' %}
{% endblock project_about %}
