#project-content-div {
    max-width: unset;
}

#Speedtap-stop-control {
    flex-direction: column;
    padding: 1em;
}

#Practice-stop-control {
    flex-direction: column;
    padding: 1em;
}

#stop-control {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.display-div {
    flex-direction: column;
    display: flex;
    padding: 0;
    align-items: flex-start;
}

#mnemonic {
    overflow-x: auto;
    display: block;
    width: 100%;
}

#mnemonic td, #mnemonic th {
  border: 1px solid #ddd;
  padding: 8px;
}

#mnemonic tr:nth-child(even){background-color: #ggg;}

// #mnemonic tr:hover {background-color: #ddd;}

#mnemonic th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: orange;
  color: black;
}


.green {
  color: green;
}

.red {
  color: red;
}

textarea {
    background: #333;
    color: orange;
}