* {
  box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
}

.wrapper > * {
  padding: 1em;
}

h3 {
  margin: 0;
  text-align: center;
}


form label {
  display: block;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

form p {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    justify-items: center;
    font-size: 4rem;
    display: grid;
}

#button-controls{
  display: flex;
  column-gap: 5%;
  grid-column: 2;
  align-items: center;
}

.app-button {
    background: lightgrey;
    width: 100%;
    border: 0;
}

.app-button:hover, .app-button:focus {
  background: gold;
  outline: 0;
}

.Blink {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}

#decodedDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}