<div id="project-content-div" class="fade-in">
    <h3>Introduction</h3>
    <p>In Jan 2020 I signed up for a code jam on the Python discord server. I was put on a team with 3 other people with the goal
of creating an app in a week where the only restriction was that it had to be built using <a href="https://kivy.org/">Kivy</a>
with the theme "ancient technology". We decided to do a morse code messaging app and we won first place in the competition
beating out 18 teams. Here is a <a href="https://www.youtube.com/watch?v=8fbZsGrqBzo&ab_channel=PythonDiscord">video</a> showcasing some of the projects
(our app is shown around <a href="https://youtu.be/8fbZsGrqBzo?t=544">9:04</a>) The app is also featured on Kivy's <a href="https://kivy.org/gallery.html">website</a>.    </p>
    <p>One of the cooler feature it has was it's ability to listen to and live decode morse code messages, see demo <a href="https://www.youtube.com/watch?v=GcwQwayqzTg&ab_channel=KanKawabata">here</a>.</p>
    <h3>references</h3>
    <p><a href="https://github.com/GoBig87/code-jam-6/tree/master/tactless-tricksters">Original Code Jam github repo</a></p>
</div>

