{% extends "_base.html" %}
{% load static %}
{% block title %}Morse Code Speed tap test{% endblock title %}
{% block ref %}
<link rel="stylesheet" type="text/css" href="{% static 'morse_code/css/app_morse_code.css' %}">

{% endblock ref %}

{% block body %}
<div class="project-div">
    <h1 class="fade-in-right">Morse Code App</h1>
    <div id="header-div1" class='fade-in-right header-div project-header-div'>
        <h3 id='header-details' hx-get="{% url 'morse-code-about' %}" hx-swap="outerHTML" hx-target="#project-content-div" hx-on:click="headerSelected(event, '#header-div1');">About</h3>
        <h3 id='header-tap' hx-get="{% url 'morse-code-tap' %}" hx-swap="outerHTML" hx-target="#project-content-div" hx-on:click="headerSelected(event, '#header-div1');">Morse Code (Tap)</h3>
        <h3 id='header-listen' hx-get="{% url 'morse-code-listen' %}" hx-swap="outerHTML" hx-target="#project-content-div" hx-on:click="headerSelected(event, '#header-div1');">Morse Code (Listen)</h3>
        {% include "go_back_element.html" %}
    </div>

    <div id="project-content-div"></div>
</div>

<script src="{% static 'morse_code/js/timer.js' %}"></script>
<script src="{% static 'morse_code/js/morse_decoder.js' %}"></script>
<script src="{% static 'morse_code/js/morse_code_beep.js' %}"></script>
{% endblock body %}