{% extends "project_base.html" %}
{% load static %}
{% block project_default_tab %}tap{% endblock %}
{% block title %}Morse Code Speed tap test{% endblock title %}
{% block ref %}
<link rel="stylesheet" type="text/css" href="{% static 'morse_code/css/app_morse_code.css' %}">

{% endblock ref %}

{% block body %}
<div class="project-div fade-in-right">
    <div id="header-div1" class="project-mode-switch">
        {% include "project_mode_nav_item.html" with mode_id="tap" mode_label="Tap" %}
        {% include "project_mode_nav_item.html" with mode_id="listen" mode_label="Listen" %}
    </div>

    <div id="content-div">
        {% include "morse_code/listening_app.html" %}
        {% include "morse_code/tapping_app.html" %}
    </div>
</div>

<script src="{% static 'morse_code/js/timer.js' %}"></script>
<script src="{% static 'morse_code/js/morse_code_write.js' %}"></script>
<script src="{% static 'morse_code/js/morse_code_beep.js' %}"></script>
{% endblock body %}

{% block project_about %}
{% include "morse_code/details.html" %}
{% endblock project_about %}
