{% load static %}
<div id="content-listen" class="content-div project">
    <h3>Instruction</h3>
    <p> Click on play morse code and write your answer as to what was spoken in the textbox and click answer </p>
    {% include 'morse_code/mnemonic_table.html' %}
    <div class='app-controls'>
        <h4 style="color: orange;">Choose difficulty</h4>
        <div id="header-div2" class='header-div project-header-div'>
            <h5 id="letters" class="header" onclick="change_difficulty('letters');">letters (easy)</h5>
            <h5 id="words" class="header" onclick="change_difficulty('words');">words (medium)</h5>
            <h5 id="sentences" class="header" onclick="change_difficulty('sentences');">sentences (hard)</h5>
        </div>
        <div id="Practice-start-control" class="button-controls" style="display:none;">
            <div style="display: flex; flex-direction: row;">
                <button class='app-button' type="button" onclick="PlayMorse(false)">Play Morse Code</button>
                <button class='app-button' type="button" onclick="PlayMorse(true)">Repeat</button>
                <button class='app-button' type="button" onclick="StopMorseSound()">Stop</button>
            </div>
            <div style="display: flex; flex-direction: column;">
                <textarea id="answerTextbox" placeholder="write your answer here..."></textarea>
                <button class='app-button' type="button" onclick="answer()">Answer</button>
            </div>
        </div>
    </div>
</div>
