{% extends "_base.html" %}
{% load static %}
{% block title %}Kan Kawabata - Morse Code Speed tap test{% endblock title %}
{% block ref %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'morse_code/css/app_morse_code.css' %}">

{% endblock ref %}

{% block content %}

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Detail')" id="defaultOpen">Info</button>
    <button class="tablinks" onclick="openTab(event, 'Speedtap')">Tap morse code</button>
    <button class="tablinks" onclick="openTab(event, 'Listen')">Listen to morse code</button>
</div>

<div id="Detail" class="tabcontent">
    {% include 'post.html' with post=post %}
</div>

{% include 'morse_code/listening_div.html' %}
{% include 'morse_code/speedtap_div.html' %}

<script src="{% static 'morse_code/js/timer.js' %}"></script>
<script src="{% static 'morse_code/js/morse_decoder.js' %}"></script>
<script src="{% static 'morse_code/js/morse_code_beep.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/tab_logic.css' %}">
<script src="{% static 'js/tab_logic.js' %}"></script>
{% endblock content %}