{% load static %}
<div id="content-tap" class="content-div project">
    <h3>Instruction</h3>
    <p> try and tap the prompt as fast as you can, if you make a mistake that's ok just tap the correct character to proceed. </p>
    <p>Click the button below then click/tap (or use spacebar) to send morse code. short tap for dots and hold for dashes, short pause (~2 tap worth) for next character and long pause (~4 tap worth) for space.</p>
    {% include 'morse_code/mnemonic_table.html' %}
    <div id="Speedtap-start-control" class="button-controls">
        <button class='app-button' type="button" onclick="SpeedTestStartMorseRecording()">Start Morse Code</button>
    </div>
    <div id="Speedtap-stop-control"  style="display: none;">
        <div class="display-div">
            <div class="button-controls" style="display: flex; align-items: center; gap: 10%; ">
                <h3>Time</h3> <h4><span id="seconds">00</span>:<span id="tens">00</span></h4>
            </div>

            <div id="prompt-div">
                <h3>Prompt</h3>
                <h4><span id="prompt"></span></h4>
            </div>

            <div id="transcribed-prompt-div">
                <h3>Transcribed Prompt</h3>
                <h4><span id="transcribed-prompt"></span></h4>
            </div>

            <div style="display: none;">
                <h4>morse</h4> <textarea id="STMorse" readonly></textarea>
                <h4>text</h4> <textarea id="STText" readonly></textarea>
            </div>
        </div>
        <br>
        <div class="button-controls" style="display: flex;">
            <button id="STTapBtn" class='app-button' type="button"><i class="fa fa-circle text-danger Blink"></i> Tap (or spacebar)</button>
            <button class='app-button' type="button" onclick="SpeedTestStopMorseRecording()">Stop</button>
        </div>
    </div>
</div>
