{% load static %}

<div id="content-details" class="content-div project">
    <h3>Introduction</h3>
    <p><a href="https://en.wikipedia.org/wiki/ELIZA">ELIZA</a> is an early chatbot designed to simulate conversation
        between human and machine. It uses natural language processing to extract context from what user says and
        reply back in a way that mimics a conversation. I first heard of it from the podcast Radio Lab on the episode
        <a href="https://radiolab.org/podcast/137466-clever-bots">Clever Bots</a> and was fascinated by the idea of
    a simple program performing the complex task as simulating a conversation.</p>

    <p>One cool thing about Eliza is that a person can generate conversation-like data without the need of a second
    person. I've had an idea to use the data generated and see if there's any insights that can be gleaned about
    a person's psychological state through the use of NLP and sentimental analysis. This app tries to do just that.</p>
</div>


