{% extends "project_base.html" %}
{% load static %}
{% block title %}Eliza Parser{% endblock title %}
{% block ref %}
<script src="{% static 'vendor/d3-7.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'eliza_parser/css/eliza_parser.css' %}">
<script src="{% static 'eliza_parser/js/elizabot.js' %}"></script>
<script src="{% static 'eliza_parser/js/elizadata.js' %}"></script>
<script type="application/javascript" src="{% static 'eliza_parser/js/eliza_parser.js' %}"></script>

{% endblock ref %}

{% block body %}
<div class="project-div fade-in-right">
    <div id="content-div">
        {% include 'eliza_parser/app.html' %}
    </div>
</div>
<script src="{% static 'eliza_parser/js/tabs.js' %}"></script>
{% endblock body %}

{% block project_about %}
{% include 'eliza_parser/details.html' %}
{% endblock project_about %}
