#main {
  width: 90%;
}

.intro-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.typewriter h1 {
    width: fit-content;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0;
    letter-spacing: .15em;
}

#header-div2 { flex-direction: column; }



.fab {
    padding: 20px;
    font-size: 30px;
    color: #fff;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.Social-media{
  display: flex;
  justify-content: flex-start;
  gap: 10%
}

.Social-media-cell {
    display: flex;
    align-items: center;
    gap: 5%
    padding: 0;
}

.Social-media-cell:hover {
    color: orange;
    cursor: pointer;
}

@media screen and (max-width: 791px) {
    .Social-media { flex-direction: column; }
}