/* GLOBAL STYLES */
body {
  background: #333;
  padding-top: 5em;
  display: flex;
  justify-content: center;
  font-family: monospace;
  margin: 1em;
}

#main {
  width: 90%;
}

.intro-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.typewriter h1 {
    width: fit-content;
    color: #fff;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0;
    letter-spacing: .15em;
}


.header-div {
    display: flex;
    gap: 5%;
    color: #fff;
    margin: 0 auto;
    margin-top: 1em;
}

.header-div h3:hover{
    color: orange;
    cursor: pointer;
}

#content_div {
    display: flex;
    flex-direction: column;
    gap: 5%;
    color: #fff;
    margin: 0;

}

a { color: orange; }

.active { color: orange; }
.deactive { color: #666; }


.fab {
    padding: 20px;
    font-size: 30px;
    color: #fff;
    width: 50px;
    text-align: center;
    text-decoration: none;
}