{% extends "_base.html" %}
{% load static %}
{% block ref %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/app_cam_distance.css' %}">

{% endblock ref %}

{% block content %}

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Detail')" id="defaultOpen">Info</button>
    <button class="tablinks" onclick="openTab(event, 'face_detection_div')">Measure with face</button>
    <button class="tablinks" onclick="openTab(event, 'qr_detection_div')">Measure with QR Code</button>
</div>

<div id="Detail" class="tabcontent">
    {% include 'post.html' with post=post %}
</div>

{% include 'face_detection_div.html' %}
{% include 'qr_detection_div.html' %}

<script src="{% static 'js/app_cam_distance.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/tab_logic.css' %}">
<script src="{% static 'js/tab_logic.js' %}"></script>
{% endblock content %}