<div id="face_detection_div" class="tabcontent">
    <h1>Work In Progress</h1>
<div>
    <h2>Camera</h2>
    <video id="inputFeedVid" muted></video>
    <h2>Distance</h2>
    <video id="outputFeedVid" muted></video>

</div>
<br>
<button id="startBtn" class="button-control" onclick="startRecording()">Start Recording</button>
<div>
    <i id="recordingIcon" class="fa fa-circle text-danger Blink" style="display: none;"></i>
    <button id="stopBtn" class="button-control" style="display: none;" onclick="stopRecording()">Stop Recording</button>
</div>
</div>
