<div id="project-content-div" class="fade-in">
    <h3>Introduction</h3>
    <p>A while back I saw this <a href='https://www.youtube.com/watch?v=v8O8Em_RPNg&ab_channel=Vox'>Vox video</a> about Magic eye images.
    This got me really into magic eyes for about a week and it made me curious on if I can make one myself. Doing some googling</p>
    <p>I stumbled across this <a href='https://developer.nvidia.com/sites/all/modules/custom/gpugems/books/GPUGems/gpugems_ch41.html'>page</a>
    on Nvidia's website describing the algortihm.</p>
    <p>I then implemented my own magic eye generator which you can now access <a href='https://github.com/kkawabat/MagicEyeGenerator'>here</a> on my github repo.</p>
</div>

