{% extends "_accordion_item_base.html" %}

{% block item_content %}
{%with accordion_section=section section_title=section_title %}
{{ block.super }}
    <div class="accordion nested-accordion">
        {% for blog in blogs %}
            {% include 'accordion_post.html' with slug=blog.slug title=blog.title created_on=blog.created_on %}
        {% empty %}
            <div class="accordion-item accordion-content">I have no thoughts atm...</div>
        {% endfor %}
    </div>
{% endwith%}
{% endblock item_content %}