{% extends "_accordion_item_base.html" %}

{% block item_content %}
{%with accordion_section=section section_title=section_title %}
{{ block.super }}
    <div class="accordion nested-accordion">
        {% for blog in blogs %}
            {% include 'accordion_post.html' with slug=blog.slug title=blog.title created_on=blog.created_on %}
        {% empty %}
            <div class="accordion-item accordion-content">I have no thoughts atm...</div>
        {% endfor %}
    </div>
{% endwith%}

<script type="text/javascript">
$(function () {
    $("#blogsBtn").click(function () {
        if($("#blogsBtn").text()=='{{section_title}}' + " click sections below for details 👇"){
            $("#blogsBtn").text('{{section_title}}');
        }
        else if($("#blogsBtn").text()=='{{section_title}}'){
            $("#blogsBtn").text('{{section_title}}' + " click sections below for details 👇");
        }
        else {
            $("#blogsBtn").text('{{section_title}}' + " click sections below for details 👇");

        }
    });
});
</script>
{% endblock item_content %}