{% load static %}
<div id="content-app" class="content-div project">
    <input type="url" id="youtube-link" name="youtube-link" placeholder="link a YouTube Video with live chat here...">
    <button class='app-button'
            hx-post="{% url 'chat-highlight-get-history' %}"
            hx-target="#chat-highlight-div"
            hx-swap="outerHTML"
            hx-include="[name='youtube-link']"
            >
        Analyze Chat!
    </button>
    <div id="chat-highlight-div"></div>

    <div id="player" style="margin-top:3em; display:none;"></div>
    <script id="youtubeApiScript">
        var player;
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementById('youtubeApiScript');
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '390', width: '640',
                playerVars: { 'playsinline': 1,},
                events: { 'onReady': onPlayerReady, }
            });
        }
        function onPlayerReady(event) { event.target.playVideo(); }
    </script>

    <div style="margin-top: 3em;">
        <h3>paste some sample URLs here</h3>
        <ul>
            <li>https://www.youtube.com/watch?v=NrY0kCOc-zw</li>
            <li>https://www.youtube.com/watch?v=UMNXKofavDc</li>
        </ul>
    </div>
</div>