{% extends "project_base.html" %}
{% load static %}
{% block title %}Chat Highlights{% endblock title %}
{% block ref %}
<script src="{% static 'vendor/d3-7.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'chat_highlights/css/chat_highlights.css' %}">

{% endblock ref %}

{% block body %}
<div class="project-div fade-in-right">
    <div id="content-div">
        {% include 'chat_highlights/app.html' %}
    </div>
</div>
<script src="{% static 'chat_highlights/js/chat_highlights.js' %}"></script>
{% endblock body %}

{% block project_about %}
{% include 'chat_highlights/details.html' %}
{% endblock project_about %}
