<div id="content_div" style="margin-top: 1em;" class="fade-in">
<p>I like making <a hx-on:mouseover="shakeElement('#header-projects')" style="color: orange">fun code</a>. I graduated with a master's in electrical engineering at Arizona State University in 2018 specializing in signal processing.
    I am a founding member of <a href="https://auralanalytics.com">Aural Analytics</a>, one of the first startup
    in digital speech biomarkers for clinical grade speech analytics.
</p>
<p>Through my school and work experience I've developed a unique set of skills that allows me to process, analyze,
    visualize data from spreadsheet to videos. I enjoy using my skills to explore various neat ideas.
</p>
</div>