<div id="content-blogs" class="fade-in-top content-div">
    <div id='header-div2' class='project-grid'>
        {% for blog in blogs %}
            <div class='project-card' hx-get="{% url 'blog_post' slug_id=blog.slug %}" hx-swap="innerHTML" hx-target="#blog-div" hx-on:click="blog_toggle(true)">
                <div class="project-card-top">
                    {% if blog.date %}<span class="project-card-date">{{blog.date|date:"M j, Y"}}</span>{% endif %}
                    <h3>{{blog.title}}</h3>
                </div>
                <p class="project-card-desc">{{blog.description}}</p>
            </div>
        {% endfor %}
    </div>
    <div id="blog-div" style="display: none;"></div>
</div>

<script>
function blog_toggle(toggle){
    if (toggle) {
        $('#header-div2').hide();
        $('#blog-div').show();
    } else {
        $('#header-div2').show();
        $('#blog-div').hide();
    }
}
</script>
