{% extends "_base.html" %}
{% load static %}
{% block title %}Kan Kawabata{% endblock title %}
{% block ref %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'new_main/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'new_main/css/animations.css' %}">

{% endblock ref %}

{% block body_attr %}hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'{% endblock body_attr %}

{% block body %}
<div id="main">
    <div id='intro1' class="intro-div">
        <div class="typewriter"> <h1 id='intro1a'>Hello <span class='wave'>👋</span>, I'm Kan!</h1></div>
        <div class="typewriter"> <h1 id='intro1b'>Welcome to my site!</h1></div>
    </div>
    <div id='intro2' class="intro-div" style="display: none;">
        <div class="typewriter"> <h1 id='intro2a'>Welcome back! <span class='wave'>👋</span></h1></div>
    </div>
    <div id="header-div1" class='fade-in-top header-div'>
        <h3 id='header-about' class="header" onclick="select_nav('about', '#header-div1');">My self</h3>
        <h3 id='header-projects' class="header" onclick="select_nav('projects', '#header-div1');">My Projects</h3>
        <h3 id='header-blogs' class="header" onclick="select_nav('blogs', '#header-div1'); blog_toggle(false);">My Blog</h3>
        <div style="display: flex; flex-direction: row; gap: 2em;">
        <h3 id='header-socials' class="header" onclick="select_nav('socials', '#header-div1');">My Socials</h3>
        <h3 id='header-contacts' class="header" onclick="select_nav('contacts', '#header-div1');">My Contacts</h3>
        </div>
    </div>
    <div id="content-div" class="fade-in-top">
        {% include "new_main/about.html" %}
        {% include "new_main/blogs.html" with blogs=blogs %}
        {% include "new_main/projects.html" with projects=projects %}
        {% include "new_main/socials.html" %}
        {% include "new_main/contacts.html" %}
    </div>
</div>

<script>
    ContentSelectionHideAll();

    $(document).ready(function() { if ( ! isFirstVisit() ) { skip_animations(); } });

    $(document).on('click', function(){ skip_animations(); });

    {% if anchor %}
        headerSelected("#header-{{anchor}}", '#header-div1');
        ContentSelection("#content-{{anchor}}");
    {% endif %}

    function skip_animations() {
        $("#intro1a").addClass("skip-animation");
        $("#intro1b").addClass("skip-animation");
        $("#intro2a").addClass("skip-animation");
        $("#header-div1").addClass("skip-animation");
        $("#content-div").addClass("skip-animation");
        $(document).prop("onclick", null).off("click");
    }

    function shakeElement(id) {
        $(id).removeClass("shake").addClass("shake");
        $(id).on("animationend", function(){
             $(this).removeClass('shake');
        })
    }
</script>
{% endblock body %}
