{% extends "_base.html" %}
{% load static %}
{% block title %}Kan Kawabata - portfolio{% endblock title %}
{% block ref %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<script src="https://unpkg.com/htmx.org@1.9.4"></script>
<link rel="stylesheet" type="text/css" href="{% static 'new_main/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'new_main/css/animations.css' %}">

{% endblock ref %}

{% block body_attr %}hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'{% endblock body_attr %}

{% block content %}
<div id="main">
    <div class="intro-div">
        <div class="typewriter"> <h1 id='intro1'>Hello <span id='hand'>👋</span>, I'm Kan!</h1></div>
        <div class="typewriter"> <h1 id='intro2'>Welcome to my website!</h1></div>
    </div>
    <div id="header-div1" class='fade-in header-div'>
        <h3 class='header1' hx-get="/about" hx-swap="outerHTML" hx-target="#content_div" hx-on:click="headerSelected(event);">Myself</h3>
        <h3 class='header1' hx-get="/projects" hx-swap="outerHTML" hx-target="#content_div" hx-on:click="headerSelected(event);">My Projects</h3>
        <h3 class='header1' hx-get="/blogs" hx-swap="outerHTML" hx-target="#content_div" hx-on:click="headerSelected(event);">My Blog</h3>
        <h3 class='header1' hx-on:click="headerSelected(event); show_socials();">My Socials</h3>
        <h3 class='header1' hx-get="/cv" hx-swap="outerHTML" hx-target="#content_div" hx-on:click="headerSelected(event);">My CV</h3>
    </div>
    <div id="content_div" class="fade-in"></div>
</div>
<div id='socials' style="display:none">
    <div class="Social-media fade-in">
        <a href="https://stackoverflow.com/users/4231985/kkawabat" target="_blank"><i class="fab fa-stack-overflow"></i></a>
        <a href="https://github.com/kkawabat" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/kan-kawabata-8b4106a2/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
</div>

<script>
    $(document).on('click', function(){
        $("#intro1").addClass("skip-animation");
        $("#intro2").addClass("skip-animation");
        $("#header-div1").addClass("skip-animation");
        $(document).prop("onclick", null).off("click");
    });

    function headerSelected(evt) {
        header_tab = document.getElementsByClassName("header1");
        for (i = 0; i < header_tab.length; i++) {
            if (!header_tab[i].className.includes(' deactive')){
                header_tab[i].className += " deactive";
            }
            header_tab[i].className = header_tab[i].className.replace(" active", "");

        }
        evt.currentTarget.className = evt.currentTarget.className.replace(" deactive", " active");
    }

  function show_socials() {
    document.getElementById('content_div').innerHTML = document.getElementById('socials').innerHTML;
  }
</script>
{% endblock content %}
