{% extends "_base.html" %}
{% load static %}
{% block title %}Kan Kawabata{% endblock title %}
{% block ref %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'new_main/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'new_main/css/animations.css' %}">

{% endblock ref %}

{% block body_attr %}hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'{% endblock body_attr %}

{% block content %}
<div id="main">
    <div id='intro1' class="intro-div">
        <div class="typewriter"> <h1 id='intro1a'>Hello <span class='wave'>👋</span>, I'm Kan!</h1></div>
        <div class="typewriter"> <h1 id='intro1b'>Welcome to my website!</h1></div>
    </div>
    <div id='intro2' class="intro-div">
        <div class="typewriter"> <h1 id='intro2a'>Welcome back! <span class='wave'>👋</span></h1></div>
    </div>
    <div id="header-div1" class='fade-in header-div'>
        <h3 id='header-about' hx-push-url="true"  hx-get="/about" hx-swap="outerHTML" hx-target="#content_div" hx-on:click="headerSelected(event, '#header-div1');">My self</h3>
        <h3 id='header-projects' hx-push-url="true"hx-get="/projects" hx-swap="outerHTML" hx-target="#content_div" hx-on:click="headerSelected(event, '#header-div1');">My Projects</h3>
        <h3 id='header-blogs' hx-push-url="true"hx-get="/blogs" hx-swap="outerHTML" hx-target="#content_div" hx-on:click="headerSelected(event, '#header-div1');">My Blog</h3>
        <h3 id='header-social' hx-push-url="/socials" hx-on:click="headerSelected(event, '#header-div1'); show_socials();">My Socials</h3>
        <h3 id='header-cv' hx-push-url="true" hx-get="/cv" hx-swap="outerHTML" hx-target="#content_div" hx-on:click="headerSelected(event, '#header-div1');">My Contacts</h3>
    </div>

    <div id="content_div" class="fade-in"></div>

</div>

<template id='socials'>
    <div class="Social-media fade-in">
        <a class='Social-media-cell' href="https://stackoverflow.com/users/4231985/kkawabat" target="_blank"><i class="fab fa-stack-overflow"></i><h3>stackOverflow</h3></a>
        <a class='Social-media-cell' href="https://github.com/kkawabat" target="_blank"><i class="fab fa-github"></i><h3>Github</h3></a>
        <a class='Social-media-cell' href="https://www.linkedin.com/in/kan-kawabata-8b4106a2/" target="_blank"><i class="fab fa-linkedin"></i><h3>LinkedIn</h3></a>
    </div>
</template>

<script>
    $(window).on('load', function(){
        $('#intro1').hide()
        $('#intro2').hide()
        var hasVisited = sessionStorage.getItem('washere');
        if ( ! hasVisited ) {
            $('#intro1').show()
        } else {
            $('#intro2').show();
            $("#header-div1").addClass("fade-in2");
        }

        if (window.location.pathname.slice(1).length !== 0) {
            subpath = window.location.pathname.slice(1).split('/')[0];
            $('#header-' + subpath).click();
        }
    });


    $(document).on('click', function(){
        $("#intro1a").addClass("skip-animation");
        $("#intro1b").addClass("skip-animation");
        $("#intro2a").addClass("skip-animation");
        $("#header-div1").addClass("skip-animation");
        $(document).prop("onclick", null).off("click");
    });

    function shakeElement(id) {
        $(id).removeClass("shake").addClass("shake");
        $(id).on("animationend", function(){
             $(this).removeClass('shake');
        })
    }

    function show_socials() { document.getElementById('content_div').replaceChildren(document.getElementById('socials').content.cloneNode(true)); }
</script>
{% endblock content %}
