<div id="content-projects" class="fade-in-top content-div">
    <div id='header-div2' class='header-div'>
        {% for project in projects %}
            {% if project.status == 1 %}
                <h3 class='header' onclick="window.location.href='{% url 'project_post' slug_id=project.slug %}'">{{project.title}}</h3>
            {% else %}
                <h3 class='header' onclick="window.location.href='{% url 'project_post' slug_id=project.slug %}'">{{project.title}}</h3>
            {% endif %}
        {% endfor %}
    </div>
</div>