<div id="content-socials" style="margin-top: 1em;" class="fade-in content-div">
    <div class="Social-media fade-in">
        <a class='Social-media-cell' href="https://stackoverflow.com/users/4231985/kkawabat" target="_blank"><i class="fab fa-stack-overflow"></i><h3>stackOverflow</h3></a>
        <a class='Social-media-cell' href="https://github.com/kkawabat" target="_blank"><i class="fab fa-github"></i><h3>Github</h3></a>
        <a class='Social-media-cell' href="https://www.linkedin.com/in/kan-kawabata-8b4106a2/" target="_blank"><i class="fab fa-linkedin"></i><h3>LinkedIn</h3></a>
    </div>
</div>