#button-controls{
  display: flex;
  column-gap: 5%;
  grid-column: 2;
  align-items: center;
}

.whistle-button {
    background: lightgrey;
    width: 100%;
    border: 0;
}

.whistle-button:hover, .whistle-button:focus {
  background: gold;
  outline: 0;
}

#playbackDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

midi-visualizer { background: #bbb; }

.controls { color: #fff; }